{% extends "bootstrap/base.html" %}

{% block navbar %}
<div class="navbar navbar-light navbar-fixed-top">
    <button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"> </span></a>
    </button>
</div>
{% endblock %}

{% block content %}

<div class="container container-table">
    {% if emdata %}
    <h1>Welcome {{ emData [1]}} </h1>
    {% else %}
    <h1>Welcome </h1>
    {% endif %}
</div>



<!--SECTION TO ADD Equipment -->
<form method="POST" action="/addEquipment">
    <div class="container container-table">
        <div class="row vertical-center-row">

            <!--Add Equipment Form-->
            <div class="card card-body">
                <h2>Add Equipment </h2>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Equipment ID</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="ex.0001" id="example-text-input" name="eid">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Equipment type</label>
                    <div class="col-10">
                        <input class="form-control" type="text" value="ex. Pulse Ox" id="example-text-input"
                            name="etype">
                    </div>
                </div>
                <input type="submit">
            </div>
        </div>
    </div>
</form>
<div class="container">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4" style="background:rgb(255, 255, 255)">

            <ul class="list-group list-unstyled">
                <li>
                    <button class="list-group-item list-group-item-action" type="button" data-toggle="collapse"
                        data-target="#collapseRemoveForm" aria-expanded="false" aria-controls="collapseExample">
                        Remove Equipment
                    </button>
                </li>
                <li>
                    <form action="/getEqs">
                        <button class="list-group-item list-group-item-action" type="submit">
                            Get equipment list
                        </button>
                    </form>
                </li>

            </ul>
        </div>
    </div>
</div>



<!-- CONTENTS FOR Equipment -->
<div class="container container-table">
    <div class="row vertical-center-row">
        <h2> Equipment List </h2>
        {% if not equips %}

        {% else %}

        <table class="table table striped">

            <tr>
                <th scope="col">Equipent ID</th>
                <th scope="col">Type</th>
            </tr>
            {% for item in equips %}
            <tr>
                <td>{{ item[0] }} </td>
                <td>{{ item[1] }} </td>
            </tr>
            {% endfor %}
        </table>

        {% endif %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h3>{{ message }} </h3>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

<!--remove equipment -->

<form method="POST" action="/removeEq">
    <div class="container container-table">
        <div class="row vertical-center-row">

            <div class="collapse" id="collapseRemoveForm">
                <!--Admit Form-->
                <div class="card card-body">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Equipment ID to remove</label>
                        <div class="col-10">
                            <input class="form-control" type="text" value="ex. 0001 " id="example-text-input"
                                name="equipID">
                        </div>
                    </div>
                    <input type='submit'>
                </div>
            </div>
        </div>
</form>
{% endblock %}