{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4" style="background:rgb(255, 255, 255)">
            <h1>Hospital Managment System</h1>

            <a href="/user_login"><button class="btn btn-primary" type="button">
                    Staff Sign in
                </button></a>
            <a href="/#"><button class="btn btn-primary" type="button">
                    Admin Sign in
                </button></a>
            <a href="/patient_login"><button class="btn btn-primary" type="button">
                    Patient Sign in
                </button></a>
            <a href="/em_login"><button class="btn btn-primary" type="button">
                    Equipment Manager Sign in
                </button></a>
                <div class="footer navbar-fixed-bottom">
                    Project by Group 4
                </div>
        </div>
      
    </div>
</div>


{% endblock %}