{% extends "bootstrap/base.html" %}

{% block content %}
<h1>User Login</h1>

<form method="POST" action="">

                <div class="container container-table">
                    <div class="row vertical-center-row">
                        <div class="text-center col-md-4 col-md-offset-4" style="background:rgb(255, 255, 255)">
                            user ID <input type="text" name="username">
                            <br>
                                Password <input type="password" name="password">
                            <br>
                                <input type="submit"></div>
                    </div>
                </div>


</form>
{% endblock %}